<h3>Top Anime</h3>

<% @animes.each do |anime|%>
    <div class="card">
        <div class="card purple darken-3">
            <div class="card-content white-text">
              <span class="card-title"><%= anime.title %></span>
              <p>Year of Release - <%= anime.release_year %></p>
            </div>
            <div class="card-action">
              <a href="/animes/<%= anime.id %>">More Info</a>
              <% if anime.user == current_user %>
                    <a href="/animes/<%= anime.id %>/edit">Edit</a>
                <% end %>
            </div>
      </div>
    </div>
<% end %>